nav{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  background-color:white;
  align-items: center;
  position: fixed;
  z-index: 10000;
  color:black;
  font-weight: bold;
  top: 0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
}
nav img{
  width: 60px;
  height: 60px;
  margin-top: 50px;
  margin-left: 30px;
}
nav ul li{
  display: inline-block;
  margin: 0 30px;
  color:black;
  text-decoration: none;
}
nav ul li a{
  color:black;
  text-decoration: none;
  padding: 5px 10px;
   transition: .5s;
   font-family: 'poppins',Arial, Helvetica, sans-serif;
   font-size: 14px;
}
.active{
  background-color:black;
  color: white;
  border-radius: 20px;
}
nav ul li a:hover{
  background-color:black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.menu-container{
    display: none;
}
.menu{
    color: white;
}


/* media */
@media only screen and (max-width: 1100px) {

  .menu-container{
    display: block;
    position: relative;
    z-index: 100;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    transition: 1s;
}
.menu{
    color:var(--blue);
    scale: 1.5;
}
.close{
    color: black;
}
nav{
  background-color: transparent;
  backdrop-filter: blur(30px);
  height: 60px;
}
nav img{
  margin-top: 5px;
  margin-left: 0px;
   width: 40px;
  height: 40px;
}
nav ul{
    display: flex;
    flex-direction: column;
    background:black;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    align-items: center;
    padding-top: 30px;
    transition: .5s ease;
    color: black;
    gap: 20px;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: white;
    
}
.Active{
    width: 50%;
    background-color:var(--uiclr);
    max-width: 200px;
}
.inactive{
    width: 0;
}
.Active li a{
    color: var(--blue);
    
}
.inactive li a{
    color: transparent;
}
nav ul li{
    width: 100px;
}
nav ul li a{
    color: transparent;
    font-weight: bold;
    text-align: start;
    width: 100%;
    transition: 1s;
    margin: 20px 0;
}
nav{
    display: flex;
    align-items: flex-start ;
}}